@{
    Layout = "_Layout";
}
@model List<project.Models.Customer>

<div class="container mt-5">
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            
            <th scope="col">ID</th>
            <th scope="col">Adı</th>
            <th scope="col">Soy Adı</th>
            <th scope="col">Phone</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <th scope="row">@customer.CustomerID</th>
                <td>@customer.Name</td>
                <td>@customer.Surname</td>
                <td>@customer.PhoneNumber</td>
            </tr>
        }
        </tbody>
    </table>
</div>