@model List<WebApi.Models.Comment>

<style>
    table {
        table-layout: fixed;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        overflow: hidden;
    }

    th,
    td {
        overflow: hidden;
        text-overflow: ellipsis;
        color: white;
    }

    .customer-name {
        color: #28a745; /* Green color for customer name */
    }
</style>

<div class="container mt-5">
    <!-- Customer Table -->
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">Adı</th>
            <th scope="col">Soyadı</th> 
            <th scope="col">Telefon</th>        

        
        </tr>
        </thead>
        <tbody>
        @if (Model != null && Model.Any())
        {
            var data = Model.First();
            <tr>
                <td class="customer-name">@data.Customer.Name</td>
                <td class="customer-name">@data.Customer.Surname</td>
                <td class="customer-name">@data.Customer.PhoneNumber</td>



            
                </tr>
        }
        </tbody>
    </table>
</div>

<div class="container mt-5">
    <!-- Comments Table -->
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">Yorumlar</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var comment in Model)
        {
            <tr>
                <td>@comment.Text</td>
            </tr>
        }
        </tbody>
    </table>
</div>

@{
    Layout = "_Layout";
}